<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Bienvenue dans le TP HN</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index/Formulaire">Remplir le formulaire</a></li>
            <li><a href="/Home/Index/ListeAvis">Liste avis</a></li>
        </ul>
    </nav>

    <section>
        <p>
            <a href="/Home/Index/Formulaire">Remplir le formulaire </a>
        </p>
    </section>
</body>